/* Normals */

html, body, h1, ul, li {
	margin: 0;
	padding: 0;
	font-size: 62.5%;
	background-color: lightgray;

	/* Animation: Fade */

	-webkit-animation-name: fade;
	-webkit-animation-duration: 1s;
	-webkit-animation-timing: ease-in-out;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-fill-mode: both;
	-webkit-animation-delay: 0.35s;
	
}

/* Text Select */

::selection {
	background: #0013a5;
}

/* Font Smoothie */

html, html a {
	-webkit-font-smoothing: antialiased !important;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

/* Typography */

@font-face {
 	font-family: 'FaktSoftPro-Light';
 	src: url('../fonts/FaktSoftPro-Light.otf');
}

@font-face {
 	font-family: 'FaktSoftPro-Normal';
 	src: url('../fonts/FaktSoftPro-Normal.otf');
}

@font-face {
 	font-family: 'CircularStd-Book';
 	src: url('../fonts/CircularStd-Book.otf');
}

@font-face {
 	font-family: 'Bambino';
 	src: url('../fonts/Bambino.otf');
}

@font-face {
 	font-family: 'GT-Walsheim-Regular';
 	src: url('../fonts/GT-Walsheim-Regular.eot') format('embedded-opentype'),
 		 url('../fonts/GT-Walsheim-Regular.woff') format('woff'),
 		 url('../fonts/GT-Walsheim-Regular.ttf') format('truetype');
}

/* Clear Fix */

.clearfix:after, .clearfix:before {
	content: "";
	display: block;
	clear: both;
}

/* Layout */

.wrapper {
	overflow-x: hidden;
}

.header {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 800px;
	height: 280px;
	margin: auto;
	-webkit-transition: all 0.2s ease;
}

/* Styles */

h1 {
	font-family: 'GT-Walsheim-Regular';
	font-size: 5rem;
	font-weight: normal;
	color: white;
}

ul {
	display: block;
	margin-top: 50px;
}

li {
	display: inline;
	font-family: 'GT-Walsheim-Regular';
	font-size: 1.6rem;
	font-weight: normal;
	list-style: none;
	margin-right: 30px;
}

span {
	font-size: 1.6rem;
	color: white;
	margin-right: 10px;
}

a {
	color: #0013a5;
	text-decoration: none;
}

a:hover {
	border-bottom: 1px solid #0013a5;
	text-decoration: none;
}

/* Animation: Fade */

@-webkit-keyframes fade {
	0% {
		opacity: 0;
		/*-webkit-transform: translateY(30px);*/
	}
	
	100% {
		opacity: 1;
		/*-webkit-transform: translateY(12px);*/
	}
}

/* Media Queries */

@media all and (max-width: 1100px) {
	.header {
		width: 600px;
		height: 360px;
	}
}

@media all and (max-width: 800px) {
	.header {
		width: 400px;
		height: 520px;
	}
}

@media all and (max-width: 1100px) {
	.side {
		width: 60px;
		float: left;
	}
}

@media all and (max-width: 1100px) {
	.main {
		width: 600px;
	}
}

@media all and (max-width: 800px) {
	.main {
		width: 400px;
	}
}

@media all and (max-width: 1100px) {
	li {
		display: block;
		width: 600px;
		height: 35px;
	}
}

@media all and (max-width: 800px) {
	li {
		display: block;
		width: 400px;
		height: 35px;
	}
}

@media only screen 
    and (min-device-width : 375px) 
    and (max-device-width : 667px)
    and (width : 375px)
    and (height : 559px)
    and (orientation : portrait) 
    and (-webkit-min-device-pixel-ratio : 2) {

		html, body, h1, ul, li {
			font-size: 62.5%;
		}
		
		.header {
			width: 100%;
			margin: 40px 0 0 40px;
			font-size: 6.7rem;
		}
		
		li {
			font-size: 1.6rem;
		}

		span {
			font-size: 1.6rem;
		}
}