/* Normals */

html, body, h1, h2, p, img, ul, li {
	margin: 0;
	padding: 0;
	font-size: 62.5%;
	background-color: black;

	/* Animation: Fade */

	-webkit-animation-name: fade;
	-webkit-animation-duration: 1s;
	-webkit-animation-timing: ease-in-out;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-fill-mode: both;
	-webkit-animation-delay: 0.35s;
	
}

/* Text Select */

::selection {
	background: lightgray;
}

/* Font Smoothie */

html, html a {
	-webkit-font-smoothing: antialiased !important;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

/* Typography */

@font-face {
 	font-family: 'FaktSoftPro-Light';
 	src: url('../fonts/FaktSoftPro-Light.otf') format('otf');
}

@font-face {
 	font-family: 'FaktSoftPro-Normal';
 	src: url('../fonts/FaktSoftPro-Normal.otf') format('otf');
}

@font-face {
 	font-family: 'CircularStd-Book';
 	src: url('../fonts/CircularStd-Book.otf') format('otf');
}

@font-face {
 	font-family: 'Bambino';
 	src: url('../fonts/Bambino.otf') format('otf');
}

/* Clear Fix */

.clearfix:after, .clearfix:before {
	content: "";
	display: block;
	clear: both;
}

/* Layout */

.wrapper {
	overflow-x: hidden;
}

.header {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 800px;
	height: 260px;
	margin: auto;
	-webkit-transition: all 0.2s ease;
}

@media all and (max-width: 1100px) {
	.header {
		width: 600px;
		height: 360px;
	}
}

@media all and (max-width: 800px) {
	.header {
		width: 400px;
		height: 520px;
	}
}

/* Styles */

h1 {
	font-family: 'Bambino';
	font-size: 4.6rem;
	font-weight: normal;
	color: lightgray;
}

ul {
	display: block;
	margin-top: 50px;
}

li {
	display: inline;
	font-family: 'Bambino';
	font-size: 1.6rem;
	font-weight: normal;
	line-height: 2.6rem;
	color: lightgray;
	list-style: none;
	margin-right: 30px;
}

@media all and (max-width: 1100px) {
	li {
		display: block;
		width: 600px;
		height: 35px;
		margin: 0;
	}
}

@media all and (max-width: 800px) {
	li {
		display: block;
		width: 400px;
		height: 35px;
		margin: 0;
	}
}

li span {
	font-family: 'Bambino';
	font-size: 1.2rem;
	font-weight: normal;
	line-height: 2.6rem;
	color: gray;
	margin-right: 10px;
}

a {
	color: lightgray;
	text-decoration: none;
	-webkit-transition: all 0.2s ease;
}

a:hover {
	opacity: .75;
	text-decoration: none;
	-webkit-transition: all 0.2s ease;
}

/* Animation: Fade */

@-webkit-keyframes fade {

	0% {
	
		opacity: 0;
		/*-webkit-transform: translateY(30px);*/
		
	}

	100% {
	
		opacity: 1;
		/*-webkit-transform: translateY(12px);*/
		
	}

}